<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<display-name>"Webeng05JSP"</display-name>

	<!-- servlet configuration not needed when Annotation WebServlet is added  -->
 	<servlet>
		<description>
		</description>
		<servlet-name>newjsp</servlet-name>
		<jsp-file>/newjsp.jsp</jsp-file>
		<init-param>
			<param-name>Template</param-name>
			<param-value>Jsp-Template</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>newjsp</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>newjsp.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>400</error-code>
		<location>/error/400.html</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/error/401.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error/403.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.html</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error/405.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.html</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/error/502.html</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/error/503.html</location>
	</error-page>

</web-app>
